.panel-default
{
    border-left: solid 5px #0288d1;
    border-radius:0px ;
    background-color: #f5f5f5;
}
.well
{
    background-color: #FFFFFF;
}
.badge
{
    color:#ffffff;
    border: solid ;
    background-color:#0288d1 ;
}
.tab-space
{
    padding-top:5px;
    background-color: white;
    height: 520px;
}
.panel-height
{
    height: 520px;
    overflow: auto;
}
.tab-header
{
    background-color: white;
}

.changethisone span
{
    background-color: #FFF;
}

.changethisone input
{
    border-right-style:none;
}
.left-panel-height
{
    height: 562px;
}
.right-panel-height
{
    height: 562px;
}
.panel-file
{
    background-color: #FFFFFF;
    border-left: white ;
}
