.panel-default
{
    border-left: solid 5px #0288d1;
    border-radius:0px ;
    background-color: #f5f5f5;
}
.well
{
    background-color: #FFFFFF;
}
.badge
{
    color:#ffffff;
    border: solid ;
    background-color:#0288d1 ;
}
.tab-space
{
    padding-top:5px;
    background-color: white;
    height: 562px;
}
.panel-body-height
{
    height: 520px;
    overflow: auto;
}
.tab-header
{
    background-color: white;
}

.changethisone span
{
    background-color: #FFFFFF;
}

.changethisone input
{
    border-right-style:none;
}
.panel-left
{
    height: 562px;
}
.panel-right
{
    height: 562px;
}
.panel-file
{
    background-color: #FFFFFF;
    border-left: white ;
}
.panel-search-result
{
    height:562px;
}
.table-results
{
    padding-top: 10px;
}
.panel-lecturer
{
    border-left:outset 5px;
    border-radius:0px ;
}
.panel-lecturer-body
{
    background-color: #FFFFFF;
    height: 452px;
    overflow: auto;
}